{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> LDAP</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">Redis</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3">Gitlab</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-4">Telegram</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-5">Conflence</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-6">SVN</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-7">Samba</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-8">Jinkins</a></li>
                    </ul>
                    <div class="tab-content ">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <form method="get" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Normal</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Help text</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                            <span class="help-block m-b-none">
                                                        A block of help text that breaks onto a new line and may extend beyond one line.
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Password</label>

                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" name="password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Placeholder</label>

                                        <div class="col-sm-6">
                                            <input type="text" placeholder="placeholder" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-white" type="submit">Cancel</button>
                                            <button class="btn btn-primary" type="submit">Save changes
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <dl class="dl-horizontal">
                                        <dt>jenkins_server_url :</dt>
                                        <dd>jenkins.bwt18.com</dd>
                                        <dt>user_id :</dt>
                                        <dd>ssss</dd>
                                        <dt>api_token :</dt>
                                        <dd>sdfsljdfljaljfasdfjsldflsdfsjlfjasdf</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <strong>Donec quam felis</strong>

                                <p>Thousand unknown plants are noticed by me: when I hear the buzz of the
                                    little world among the stalks, and grow familiar with the countless
                                    indescribable forms of the insects
                                    and flies, then I feel the presence of the Almighty, who formed us in
                                    his own image, and the breath </p>


                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <strong>Donec quam felis</strong>

                                <p>Thousand unknown plants are noticed by me: when I hear the buzz of the
                                    little world among the stalks, and grow familiar with the countless
                                    indescribable forms of the insects
                                    and flies, then I feel the presence of the Almighty, who formed us in
                                    his own image, and the breath </p>

                                <p>I am alone, and feel the charm of existence in this spot, which was
                                    created for the bliss of souls like mine. I am so happy, my dear friend,
                                    so absorbed in the exquisite
                                    sense of mere tranquil existence, that I neglect my talents. I should be
                                    incapable of drawing a single stroke at the present moment; and yet.</p>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">
                                <strong>Donec quam felis</strong>

                                <p>Thousand unknown plants are noticed by me: when I hear the buzz of the
                                    little world among the stalks, and grow familiar with the countless
                                    indescribable forms of the insects
                                    and flies, then I feel the presence of the Almighty, who formed us in
                                    his own image, and the breath </p>

                                <p>I am alone, and feel the charm of existence in this spot, which was
                                    created for the bliss of souls like mine. I am so happy, my dear friend,
                                    so absorbed in the exquisite
                                    sense of mere tranquil existence, that I neglect my talents. I should be
                                    incapable of drawing a single stroke at the present moment; and yet.</p>
                            </div>
                        </div>
                        <div id="tab-6" class="tab-pane">
                            <div class="panel-body">
                                <strong>Donec quam felis</strong>

                                <p>Thousand unknown plants are noticed by me: when I hear the buzz of the
                                    little world among the stalks, and grow familiar with the countless
                                    indescribable forms of the insects
                                    and flies, then I feel the presence of the Almighty, who formed us in
                                    his own image, and the breath </p>

                                <p>I am alone, and feel the charm of existence in this spot, which was
                                    created for the bliss of souls like mine. I am so happy, my dear friend,
                                    so absorbed in the exquisite
                                    sense of mere tranquil existence, that I neglect my talents. I should be
                                    incapable of drawing a single stroke at the present moment; and yet.</p>
                            </div>
                        </div>
                        <div id="tab-8" class="tab-pane">
                            <div class="panel-body">

                                Thousand unknown plants are noticed by me: when I hear the buzz of the
                                little world among the stalks, and grow familiar with the countless
                                indescribable forms of the insects
                                and flies, then I feel the presence of the Almighty, who formed us in
                                his own image, and the breath

                                I am alone, and feel the charm of existence in this spot, which was
                                created for the bliss of souls like mine. I am so happy, my dear friend,
                                so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be
                                incapable of drawing a single stroke at the present moment; and yet.
                            </div>
                        </div>
                        <div id="tab-7" class="tab-pane">
                            <div class="panel-body">

                                Python-Jenkins

                                https://pypi.org/project/python-jenkins/
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
{% endblock %}
