{% extends 'base.html' %}
{% load static %}
{% block head %}
    <!-- Morris -->
    <link href="{% static "inspinia/css/plugins/morris/morris-0.4.3.min.css" %}" rel="stylesheet">

{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <span class="pull-right text-right">
                                <small>In the past month </small><br/>All ticket: 162,862
                            </span>
                            <h3 class="font-bold no-margins">
                                Half-year Malfunction
                            </h3>
                        </div>
                        <div class="m-t-sm">
                            <div class="row">
                                <div class="col-md-8">
                                    <div>
                                        <canvas id="lineChart" height="114"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="stat-list m-t-lg">
                                        <li>
                                            <h3 class="no-margins">2,346</h3>
                                            <small>OP Malfunction</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="color:blue; width: 48%;"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins ">4,422</h3>
                                            <small>OG Malfunction</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="color:blue;width: 60%;"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="no-margins">2,346</h3>
                                            <small>OT Malfunction</small>
                                            <div class="progress progress-mini">
                                                <div class="progress-bar" style="color:blue;width: 48%;"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-md">
                            <small class="pull-right">
                                <i class="fa fa-clock-o"> </i>
                                Update on 16.07.2015
                            </small>
                            <small>
                                <strong>memo:</strong> The value has been changed over time, and last month reached a
                                level over $50,000.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">The past 7 days</span>
                        <h5>Classification Statistics For Deploy Ticket</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">OP / Total</small>
                                <h4>321.80</h4>
                            </div>

                            <div class="col-xs-4">
                                <small class="stats-label">% Deploy</small>
                                <h4>46.11%</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">% Malfunction</small>
                                <h4>46.11%</h4>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">OG / Total</small>
                                <h4>321.80</h4>
                            </div>

                            <div class="col-xs-4">
                                <small class="stats-label">% Deploy</small>
                                <h4>46.11%</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">% Malfunction</small>
                                <h4>46.11%</h4>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">OT / Total</small>
                                <h4>321.80</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">% Deploy</small>
                                <h4>46.11%</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">% Malfunction</small>
                                <h4>46.11%</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ticket list of the past 24 | </h5>
                        <a data-toggle="modal" class="btn-xs btn-primary" href="#modal-form">
                            添加
                        </a>
                        <div id="modal-form" class="modal fade" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <p>Create Ticket </p>
                                            <form class="form-horizontal" action="{% url 'resource:ResourceList' %}"
                                                  method="POST">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    {{ field.get_absolute_url }}
                                                    <div class="form-group"><label
                                                            class="col-lg-2 control-label">{{ field.label_tag }}</label>
                                                        <div class="col-lg-10">{{ field }}
                                                        </div>
                                                        {{ field.errors }}
                                                    </div>
                                                {% endfor %}
                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-sm btn-white" type="submit"
                                                                id="asset_creatd">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" href="{% url 'ticket:ticketSetting' %}">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 m-b-xs">
                                {#                                <div data-toggle="buttons" class="btn-group">#}
                                {#                                    <label class="btn btn-sm btn-white"> <input type="radio" id="option1"#}
                                {#                                                                                name="options"> Day </label>#}
                                {#                                    <label class="btn btn-sm btn-white active"> <input type="radio" id="option2"#}
                                {#                                                                                       name="options"> Week </label>#}
                                {#                                    <label class="btn btn-sm btn-white"> <input type="radio" id="option3"#}
                                {#                                                                                name="options"> Month </label>#}
                                {#                                </div>#}
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group"><input type="text" placeholder="Search"
                                                                class="input-sm form-control"> <span
                                        class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>

                                    <th>id</th>
                                    <th>Project</th>
                                    <th>Submitter</th>
                                    <th>Processing</th>
                                    <th>Company</th>
                                    <th>Completed</th>
                                    <th>Task_Id</th>
                                    <th>Create Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for i in obj %}
                                    <tr>
                                        <td><a href="{{ i.get_absolute_url }}">{{ i.sn }}</a></td>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.create_user }}</td>
                                        <td>{{ i.update_user }}</td>
                                        <td>OG</td>
                                        <td><span class="label label-warning ">{{ i.type.name }}</span></td>
                                        <td>20</td>
                                        <td>{{ i.create_time }}</td>
                                        <td><a href="dashboard_4_1.html#"><i class="fa fa-check text-navy"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(220,220,220,0)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 40, 51, 36, 25, 40]
                    },
                    {
                        label: "Example dataset",
                        fillColor: "rgba(26,179,148,0)",
                        strokeColor: "rgba(26,179,148,0.7)",
                        pointColor: "rgba(26,179,148,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(26,179,148,1)",
                        data: [48, 48, 60, 39, 56, 37, 30]
                    },
                    {
                        label: "Example dataset",
                        fillColor: "rgba(26,179,148,0)",
                        strokeColor: "rgba(244,146,13,0.7)",
                        pointColor: "rgba(244,146,13,0.7)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(26,179,148,1)",
                        data: [40, 70, 90, 40, 40, 30, 60]
                    }
                ]
            };

            var lineOptions = {
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                bezierCurve: true,
                bezierCurveTension: 0.4,
                pointDot: true,
                pointDotRadius: 4,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 2,
                datasetFill: true,
                responsive: true,
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

        });
    </script>
{% endblock %}
